svg.bi.bi-file-earmark-text{
    margin-left: 10px;
}
.filters {
    width: 65%;
    margin-left: 10%;
    padding-right: 1%;
    display: flex;
}
.filters1{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.filters2{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.admin-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}