.Sidebar{
    background-color: #2D60B1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sidebar-icon{
    width: 35%;
}
.sidebar-item{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.white-logo{
    width: 100%;
}